header {}
main {
    width: 1000px;
    margin: 0 auto;
}
main h1 {
    font-size: 2rem; 
    text-align: center; font-weight: 700;
    padding: 30px 0 100px;
}
main .cart_wrap {
    width: 100%;
    border-radius: 10px;
}
main .cart_wrap .top {
    border-bottom: 1px solid #222;
    padding: 0 0 15px; margin: 0 0 15px;
}
main .cart_wrap .top input[name^=all] {}
main .cart_wrap .top input[name^=all]:checked + label {}
main .cart_wrap .top label {
    margin-right: 30px;
}
main .cart_wrap .top label::after {
    content: ''; display: inline-block; width: 1px; height: 10px; background-color: #aaa;
    position: relative; right: -10px; top :auto2px;
}
main .cart_wrap .top label .select_num {}
main .cart_wrap .top label .total_num {}
main .cart_wrap .top .select_delete {}
main .cart_wrap .item_wrap {
    display: flex; flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    background-color: #f5f5f5;
}
main .cart_wrap .item_wrap .item {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
/* main .cart_wrap .item_wrap .item > * {
    border-right: 1px solid #aaa;
} */
main .cart_wrap .item_wrap .item .select {
    width: 24px;
}
main .cart_wrap .item_wrap .item .select input[name^=item] {}
main .cart_wrap .item_wrap .item > a {
    display: inline-block;
    padding: 10px 16px;
    display: grid;
    grid-template-areas: 
    'photo name'
    'photo detail'
    ;
}
main .cart_wrap .item_wrap .item > a .photo {
    width: 70px; height: 80px; background-color: gray;
    grid-area: photo;
    margin-right: 10px;
}
main .cart_wrap .item_wrap .item > a .photo img {}
main .cart_wrap .item_wrap .item > a h2 {
    grid-area: name;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
main .cart_wrap .item_wrap .item > a .detail {
    color: #aaa;
    padding-bottom: 20px;
    grid-area: detail;
}
main .cart_wrap .item_wrap .item .num {
    padding-left: 60px;
}
main .cart_wrap .item_wrap .item .num button {
    width: 24px; height: 40px;
}
main .cart_wrap .item_wrap .item .num #minus,
main .cart_wrap .item_wrap .item .num #plus {
    width: 40px; line-height: 40px;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 5px;
}
main .cart_wrap .item_wrap .item .num #minus {}
main .cart_wrap .item_wrap .item .num #plus {}
main .cart_wrap .item_wrap .item .num #count {
    width: 40px;
    border-color: #aaa;
}
main .cart_wrap .item_wrap .item .price {
    display: flex; flex-flow: column nowrap;
    text-align: right;
    padding-left: 30px;
}
main .cart_wrap .item_wrap .item .price .total_price {
    font-size: 1.5rem; font-weight: 700;
}
main .cart_wrap .item_wrap .item .price .original_price {
    color: #aaa;
    text-decoration: line-through;
}
main .cart_wrap .item_wrap .item .item_delete {
    color: #aaa; font-size: 2.25rem;
    font-weight: 100;
    line-height: 100px;
    margin-left: 15px;
}