body,html{scroll-behavior: smooth;}
h1 {
    position: fixed; top: 10vh; left: 40px;
    font-size: 4rem; font-weight: 700; color: #fff;
}
main {}
main .bg {
    height: 100vh; background-size: cover;
    background-position: center;
}
main .bg:nth-child(1) {background-image: url(https://images.unsplash.com/photo-1578985545062-69928b1d9587?q=80&w=1578&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);}
main .bg:nth-child(2) {background-image: url(https://plus.unsplash.com/premium_photo-1671212748162-d7bdb9d4f5ec?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);}
main .bg:nth-child(3) {background-image: url(https://images.unsplash.com/photo-1574085733277-851d9d856a3a?q=80&w=1752&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);}
main .bg:nth-child(4) {
    background-image: url(https://images.unsplash.com/photo-1542826438-bd32f43d626f?q=80&w=1984&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
main nav {
    position: fixed;
    top: 50vh; right: 30px;
    display: flex; flex-flow: column nowrap;
    align-items: flex-end;
}
main nav button {
    background-color: #aaa;
    width: 30px; height: 30px;
    border-radius: 50%;
    border: 0;
    text-align: center;
    transition: all 0.3s;
    overflow: hidden;
}
main nav button::after {white-space: nowrap;}
main nav button:hover::after {
    color: #fff; font-size: 1.25rem;
}
main nav button:nth-child(1):hover::after {content: 'cake 1';}
main nav button:nth-child(2):hover::after {content: 'cake 2';}
main nav button:nth-child(3):hover::after {content: 'cake 3';}
main nav button:nth-child(4):hover::after {content: 'cake 4';}
main nav button:hover {width: 100px; border-radius: 10px;}
main nav button img {
    width: 20px;
}
main nav #scroll_btn1,
main nav #scroll_btn2,
main nav #scroll_btn3,
main nav #scroll_btn4 {
    margin-bottom: 20px;
}
main nav #scroll_btn4 {margin-bottom: 0;}